.footer 
	border-top: 1px solid #a7e3f7
	background: $bg-footer
	padding-top: 48px
	font-size: 14px
	&__title 
		+op-bold
		margin-bottom: 18px
		.delivery
		margin-top: 32px	
	&__block 
		display: flex 
		justify-content: space-between
		&-icons 
			display: flex
		&-item 
			flex-basis: 25%
			margin-bottom: 50px
	&__link 	
		display: block
		text-decoration: none 
		margin-bottom: 5px
		color: $text-color
		&_big 
			display: block
			text-transform: uppercase
			text-decoration: none
			margin-bottom: 19px
			color: $text-color
		&-call
			display: block
			text-decoration: none
			font-size: 16px	
			margin-bottom: 17px
			color: $text-color
	&__button 
		display: block
		margin-bottom: 19px
		color: #fff
		background-color: $main-color	
		&:hover 
			background-color: #fff
			color: $main-color 
			transition: all 0.3s ease			 
	&__icon 
		display: flex
		justify-content: center
		align-items: center
		outline: none	
		width: 31px
		height: 31px
		padding: 8px
		border: 1px solid #000
		border-radius: 4px
		margin-right: 15px
		transition: all .3s ease
		&:hover 
			border: 1px solid $main-color
			transition: all .3s ease
	&__copyright
		display: flex
		justify-content: center
		padding: 34px 0 37px 0
		border-top: 1px solid #a7e3f7
		&-img
			margin-right: 4px
		&-text 
			opacity: 0.7
			+op-light 
			font-size: 13px






