.footer 
	border-top: 1px solid #a7e3f7
	background: $bg-footer
	padding-top: 20px
	font-size: 14px
	&__container
		max-width: 1268px
		margin: 0 auto
	&__title 
		+op-bold
		margin-top: 25px	
		margin-bottom: 12px	
		&-fix 
			margin-bottom: 16px
	&__block 
		display: flex
		&-icons 
			display: flex
		&-item 
			margin-bottom: 40px
		&-item1
			margin-right: 184px 
		&-item2
			margin-right: 115px 	
		&-item3
			margin-right: 198px 	
	&__link 	
		display: block
		text-decoration: none 
		margin-bottom: 10px
		color: $text-color
		&_fix 
			margin-bottom: 27px
		&_big 
			display: block
			text-transform: uppercase
			text-decoration: none
			margin-bottom: 12px
			color: $text-color
		&-call
			display: block
			text-decoration: none
			font-size: 16px	
			margin-bottom: 10px
			color: $text-color
	&__button 
		display: block
		margin-bottom: 16px
		color: #fff
		background-color: $main-color	
		+rb-reg
		font-size: 13px
		padding-left: 22px
		&:hover 
			background-color: #fff
			color: $main-color 
			transition: all 0.3s ease			 
	&__icon 
		display: flex
		justify-content: center
		align-items: center
		outline: none	
		width: 31px
		height: 31px
		padding: 8px
		border: 1px solid #000
		border-radius: 4px
		margin-right: 14px
		transition: all .3s ease
		&:hover 
			border: 1px solid $main-color
			transition: all .3s ease	
	&__copyright
		display: flex
		justify-content: center
		padding: 34px 0 37px 0
		border-top: 1px solid #a7e3f7
		&-img
			margin-right: 4px
		&-text 
			opacity: 0.7
			+op-light 
			font-size: 13px

// == стили для ховера соц иконок svg ==
.footer__icon-svg
	fill: #393939
	transition: all 0.2s ease
.footer__icon:hover .footer__icon-svg
	fill: $main-color
	transition: all 0.2s ease



