.footer 
	border-top: 1px solid #a7e3f7
	background: $bg-footer
	padding-top: 20px
	font-size: 14px
	&__container
		max-width: 1268px
		margin: 0 auto
	&__title 
		+op-bold
		margin-top: 25px	
		margin-bottom: 12px	
		&-fix 
			margin-bottom: 16px
	&__block 
		display: flex
		&-icons 
			display: flex
			position: relative
		&-item 
			margin-bottom: 40px
		&-item1
			margin-right: 184px 
		&-item2
			margin-right: 115px 	
		&-item3
			margin-right: 198px 	
	&__link 	
		display: block
		text-decoration: none 
		margin-bottom: 10px
		color: $text-color
		&_fix 
			margin-bottom: 27px
		&_big 
			display: block
			text-transform: uppercase
			text-decoration: none
			margin-bottom: 12px
			color: $text-color
		&-call
			display: block
			text-decoration: none
			font-size: 16px	
			margin-bottom: 10px
			color: $text-color
	&__button 
		display: block
		margin-bottom: 16px
		color: #fff
		background-color: $main-color	
		+rb-reg
		font-size: 13px
		padding-left: 22px
		&:hover 
			background-color: #fff
			color: $main-color 
			transition: all 0.3s ease			 
	&__icon 
		position: relative
		display: flex
		justify-content: center
		align-items: center
		outline: none	
		width: 31px
		height: 31px
		padding: 8px
		border: 1px solid #000
		border-radius: 4px
		margin-right: 14px
		transition: all .3s ease
		cursor: pointer
		&:hover 
			border: 1px solid $main-color
			transition: all .3s ease	
	&__copyright
		display: flex
		justify-content: center
		padding: 34px 0 37px 0
		border-top: 1px solid #a7e3f7
		&-img
			margin-right: 4px
		&-text 
			opacity: 0.7
			+op-light 
			font-size: 13px

// == стили для ховера соц иконок svg ==
.footer__icon-svg
	fill: #393939
	transition: all 0.2s ease
.footer__icon:hover .footer__icon-svg
	fill: $main-color
	transition: all 0.2s ease


// == стили для tooltip ==
.tooltip 
	position: absolute
	display: flex
	padding: 14px 21px
	width: 196px
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12)
	background-color: #ffffff	
	&__vk
		left: -80px 
		bottom: -150px
		opacity: 0
		display: none
	&__facebook
		left: -82px 
		bottom: -150px
		opacity: 0
		display: none
	&__insta
		left: -82px 
		bottom: -150px
		opacity: 0
		display: none
	&__text
		position: relative 
		width: 153px
		color: $text-color
		+op-semy
		font-size: 14px
		&:after 
			content: ''
			width: 1px
			height: 100%
			background-color: $text-color
			display: block
			position: absolute
			right: 10px
			bottom: 0px   
	&__count 
		color: $text-color
		+op-semy
		font-size: 14px
	&__arrow 
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: -18px
		width: 0
		height: 0
		border: 18px solid transparent
		border-bottom-color: #fff
		border-top: 0

.footer__icon:hover .tooltip__vk 
	display: flex
	animation: tooltip 0.6s ease forwards
.footer__icon:hover .tooltip__facebook 
	display: flex
	animation: tooltip 0.6s ease forwards
.footer__icon:hover .tooltip__insta 
	display: flex
	animation: tooltip 0.6s ease forwards

@keyframes tooltip 
	0%
		opacity: 0
		bottom: -150px 
	100% 
		opacity: 1
		bottom: -80px 


@media (max-width: 768px)
	.footer
		padding-top: 4px
		&__container
			border-top: 1px solid #a7e3f7
		&__title 
			margin-top: 0
			margin-bottom: 15px
		&__title-fix 
			display: block
			width: 100%
			padding-left: 80px
		&__link 
			&:last-child 
				margin-bottom: 0
		&__block
			// align-items: center 
			display: flex 
			margin-bottom: 98px	
			padding-top: 23px
			position: relative
			&-icons
				display: flex
				padding-left: 81px	
			&-item  
				margin: 0
				flex-direction: column	
				display: flex	
				align-items: flex-start
				&_fix 
					flex-direction: row
					flex-wrap: wrap	
					position: absolute
					bottom: -63px 
					right: -161px
			&-item1 
				margin-right: 53px	
			&-item2
				margin-right: 46px	
		&__link_fix 
			margin-bottom: 19px				
		&__link_big 
			margin-bottom: 12px
			&:last-child 
				margin-bottom: 0
		&__icon		
			&:last-child
				margin-right: 0
		&__logo-delivery 
			margin-bottom: 5px
		&__copyright
			width: 255px
			padding-top: 23px
			padding-left: 0
			text-align: center
			border-top: none
			margin-left: 249px
			&-text
				width: 190px
				height: 30px
				opacity: 0.6
				color: $text-color 
				+op-light
				font-size: 13px
				line-height: 17px
		&__copyright-img
			width: 10px
			height: 10px
			margin-right: 0px	  
			&-wrap 
				padding-top: 4px
  

@media (max-width: 575px)
	.footer
		padding-top: 4px
		&__title-fix 
			display: block
			width: 100%
			padding-left: 80px
		&__link 
			&:last-child 
				margin-bottom: 0
		&__block
			flex-direction: column
			align-items: center 
			margin-bottom: 36px	
			&-icons
				display: flex
				padding-left: 81px	
			&-item  
				margin: 0
				flex-direction: column	
				display: flex	
				align-items: center
				&_fix 
					flex-direction: row
					flex-wrap: wrap	
		&__link_fix 
			margin-bottom: 6px				
		&__link_big 
			margin-bottom: 15px
			&:last-child 
				margin-bottom: 0
		&__icon		
			&:last-child
				margin-right: 0
		&__logo-delivery 
			margin-bottom: 5px
		&__copyright
			width: 255px
			padding-top: 19px
			padding-left: 62px
			text-align: center
			&-text
				width: 190px
				height: 30px
				opacity: 0.6
				color: $text-color 
				+op-light
				font-size: 13px
				line-height: 17px
		&__copyright-img
			width: 12px
			height: 12px
			margin-right: 2px	  
  
