.header
	&-wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 31px 0 32px 0
	&-contacts
		display: flex
		align-items: center
		flex-basis: 33%
		&:before 
			width: 29px
			height: 30px
			content: ''
			margin-right: 15px
			background: url('../img/header/icon-phone.svg')
	&-phone
		text-decoration: none
		display: block
		color: $text-color
	&-logo__wrap 
		flex-basis: 33%
		display: flex 
		justify-content: center
	&-icons__wrap 
		display: flex
		justify-content: flex-end
		flex-basis: 33%
	&-icons 
		display: flex	
		&__item
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			margin-right: 40px
			text-decoration: none
			cursor: pointer
			&:last-child 
				position: relative
				margin-right: 0
				&:after 
					content: '4'
					position: absolute
					color: #fff
					line-height: 23px
					display: flex 
					justify-content: center 
					align-items: center
					top: -4px
					left: 20px
					width: 23px
					height: 23px
					border-radius: 50%
					background-color: #ffc740

			&-img 
				display: flex
				justify-content: center
				align-items: center
				max-width: 35px
				min-height: 34px
			&-text 
				color: #393939
				+op-semy  
				font-size: 12px
				text-align: center			
.button-header	
	margin-left: 22px
	&:hover 
		background-color: $main-color 
		color: #fff
		transition: all 0.3s ease

.nav 
	min-height: 65px
	background-color: $main-color
	&__wrap 
		display: flex 
		justify-content: space-between
		align-items: center
	&__select-groop
		display: flex
		align-items: center	
	&__burger-wrap
		width: 20px
		height: 16px
		position: relative
		display: flex
		justify-content: center
		align-items: center
		margin-right: 16px
	&__burger
		opacity: 1
		transition: all .2s ease
.nav__burger, .nav__burger:before, .nav__burger:after 
	content: ''
	width: 20px
	height: 1px
	background-color: #fff
	position: absolute
	transition: all .2s ease

.nav__burger:before 
	transform: translateY(-6px)

.nav__burger:after 
	transform: translateY(6px)


// == стили для выпадающего списка ==

.nav
	&__select
		position: relative
		&-sub
			position: relative
		&-sub2 	
			position: relative
		&-sub3 	
			position: relative	
		&-arrow 
			position: absolute
			top: 23px 
			right: 14px
		&-groop	> ul 
			list-style: none
			display: flex
		&-groop > ul li a
			display: block
			padding: 27px 49px 24px 24px
			font-size: 14px
			color: #fff
			text-decoration: none
			font-size: 15px
			+op-semy
		&-icon 
			position: absolute
			top: 34px 
			right: 20px
			width: 11px
			height: 6px
			cursor: pointer
		&-groop li ul 
			position: absolute
			list-style: none
			min-width: 299px 
			z-index: 100
			display: none 
		&-groop li > ul li 
			border-bottom: 1px solid #e0f7fa
		&-groop li > ul li a 
			background-color: #fff
			padding: 20px 
			font-size: 15px
			color: #242021
			+op-semy 
		&-groop li > ul li ul 
			position: absolute
			right: -299px
			top: 0
		&-groop li > ul li ul li ul
			position: absolute
			right: -299px
			top: 0
		&-groop ul > li .nav__select_blue:hover 
			background-color: #04a6d9
		&-groop li a:hover 
			background-color: #e0f7fa	
		&-groop li:hover > ul
			display: block
	&__input-search 
		max-width: 400px
		color: #000
		font-size: 13px
		+op-light
		padding: 16px 247px 17px 22px
		border-radius: 21px
		border: none 
		outline: none
	&__input-wrap
		position: relative
	&__search-icon 
		position: absolute
		top: 16px
		right: 20px 
		width: 18px
		height: 18px

.nav__
	&-sub
		position: relative
	&-arrow 
		position: absolute
		top: 19px 
		right: 14px

// ==  стили для подложки под списки ==
.nav 
	position: relative
	&__mat 
		position: absolute
		top: 68px
		left: 0
		width: 100%
		min-height: 0
		background-color: #fff
		box-shadow: 0 5px 16px rgba(0, 0, 0, 0.15)
		z-index: 50
		opacity: 0

.hover:hover .nav__mat 
	opacity: 1 
	min-height: 470px 



	// == медия ==
@media (max-width: 575px)
	.header
		&-wrap
			padding: 22px 9px 23px 0
		&-contacts 
			display: none
		&-logo 
			width: 108px
			height: 36px
		&-icons__item
			margin-right: 15px
			&:last-child:after
				width: 18px
				height: 18px
				font-size: 9px
				top: 4px 
				left: 14px
			&-img
				width: 24px
				height: 26px
			&-text 
				display: none
			
				

	.nav 
		display: flex 
		align-items: center
		padding: 6px 0 6px 0
		min-height: 0
		&__search 
			&-icon 
				top: 9px
				right: 11px
		&__select-groop > ul
			display: none
		&__input-search
			width: 232px
			color: #000
			font-size: 12px
			+op-light
			padding: 10px 0 9px 17px
			border-radius: 21px
			border: none 
			outline: none
			
