.main 
	padding: 19px 0 0 0 
	&-blocks
		display: flex 
		justify-content: space-between
		&__left
			display: flex 
			flex-wrap: wrap
	&-item
		position: relative 
		margin-right: 14px
		&__img 
			width: 100%
			height: 100%

		&_wide 
			max-width: 765px
			margin-bottom: 13px
		&_high 
			margin-right: 0
			width: max-content
		&__title 
			position: absolute
			left: 0
			bottom: 0
			width: 100%
			background-color: #ffffff
			opacity: 0.8
			font-size: 21px
			padding: 26px 0
			text-align: center
			display: flex 
			align-items: center 
			justify-content: center
			min-height: 0%
			+op-semy
			transition: min-height 0.6s ease
		&:hover .main-item__title
			min-height: 100%
			transition: min-height 0.6s ease


// == отключаем для остального диапазона ==
.main__image-mobile
	display: none
.main__image-mobile750
	display: none
.main-item_high750
	display: none
@media (max-width: 768px)
	.main 
		padding-top: 22px 
		&__image-adaptiv 
			display: none 
		&-blocks
			display: flex
			justify-content: space-between
			align-items: center
			&__left 
				justify-content: space-between
				flex-wrap: wrap
		&-item
			margin-right: 0
			margin-bottom: 14px 
			&__title 
				padding: 21px 0 18px 0
				color: $text-color
				+op-semy
				font-size: 16px
			&_wide 
				margin: 0
				margin-bottom: 14px


	.main-blocks__right
		display: none
	.main__image-mobile
		display: block
	.main__image-mobile750
		display: block
	.main-item_high750
		display: block

@media (max-width: 575px)
	.main 
		padding-top: 22px 
		&__image-adaptiv 
			display: none 
		&-blocks
			flex-direction: column
			justify-content: center 
			align-items: center
			&__left 
				justify-content: center
		&-item
			margin-right: 0
			margin-bottom: 17px 
			&_padding 
				margin-bottom: 15px
			&__title 
				padding: 21px 0 18px 0
				color: $text-color
				+op-semy
				font-size: 16px
			&_wide 
				margin: 0
				margin-bottom: 17px

		
	.main__image-mobile
		display: block
	
