.new 
	padding-bottom: 32px
	&__title 
		margin-bottom: 24px
	&__block 
		display: flex 
		justify-content: space-between
		flex-wrap: wrap 
	&__label 
		top: 18px
		left: 19px	
	&__card 
		margin-bottom: 20px


@media (max-width: 575px) 
	.new 
		&__title 
			color: $text-color
			+op-semy
			font-size: 22px
			margin-bottom: 20px 
			&:after 
				content: ''
				margin-top: 14px
		&__slide-mobile
			width: 263px
			display: flex 
			justify-content: center 
			align-items: center 
		&__slide-wrap 
			display: flex 
			justify-content: center 
			width: 100%
			position: relative
		&__slide-arrowL 
			position: absolute
			top: 169px
			left: -50px
			display: flex
			justify-content: center 
			align-items: center 
			width: 48px
			height: 48px
			background-color: $main-color
			opacity: 0.6	
			border-radius: 50%
		&__slide-arrowR
			position: absolute
			top: 168px
			left: 193px
			display: flex
			justify-content: center 
			align-items: center 
			width: 48px
			height: 48px
			background-color: $main-color
			opacity: 0.6
			border-radius: 50%	