.news
	&__wrap
		padding: 42px 0 43px 0
		background-image: url('../img/news/bg-news.jpg')
		background-size: cover
	&__title
		font-size: 20px
		text-transform: uppercase
		margin-bottom: 9px
		&:after 
			content: ''
			height: 2px
			background-color: $main-color
			margin-top: 13px
			width: 60px
		&-discr
			text-align: center
			+op-reg
			font-size: 14px
			text-transform: uppercase
			margin-bottom: 11px
	&__subtitle 
		display: block
		+op-reg
		margin-bottom: 17px
		font-size: 14px
		text-transform: uppercase	
		text-align: center	
	&__form 
		margin: 0 auto
		display: table
		margin-bottom: 27px
		box-shadow: none !important
		border: none !important
		&-input 
			width: 300px
			background-color: #ffffff
			border-radius: 20px	
			padding: 14px 0 14px 26px		
			color: #000000
			+op-light 
			font-size: 13px
			border: none
			outline: none
			margin-right: 5px
	&__button 
		color: #ffffff
		+rb-reg
		font-size: 13px
		background-color: $main-color
		padding: 14px 27px 14px 29px
		border-radius: 20px
		&:hover 
			background-color: #ffffff
			color: $main-color
			transition: all 0.3s ease
	&__blocks
		display: flex
		justify-content: center
		&-icon
			width: 24px
			height: 24px 
			margin-right: 8px
			&:last-child
				margin-right: 0

@media (max-width: 768px) 
	.news 
		padding: 0
		&__wrap 
			padding-top: 36px
			padding-bottom: 35px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
		&__title 
			width: 332px
			color: $text-color
			font-size: 16px
			+op-semy
			line-height: 21px
			text-transform: uppercase
			margin-bottom: 15px
			&:after 
				content: ''
				margin-top: 16px
		&__subtitle 
			width: 262px
			color: $text-color
			+op-reg
			font-size: 14px
			line-height: 18px
			text-transform: uppercase
			margin-bottom: 18px
		&__form-input
			width: 265px
			color: #999999
			+op-light
			font-size: 13px
			padding: 14px 118px 14px 29px
			background-color: #fff
		&__form 
				display: flex
				flex-direction: row
				align-items: center
				margin: 0 !important
				padding-left: 85px
				&-wrap 
					display: flex 
					width: 100%
					flex-direction: row 
					justify-content: flex-start
					margin-bottom: 28px
		&__button 	
				color: #ffffff
				+rb-reg
				font-size: 13px
				font-weight: 500
				padding: 13px 28px 13px 28px



@media (max-width: 575px) 
	.news 
		padding: 0
		&__wrap 
			padding-top: 36px
			padding-bottom: 39px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
		&__title 
			width: 256px
			color: $text-color
			font-size: 16px
			+op-semy
			line-height: 21px
			text-transform: uppercase
			margin-bottom: 15px
		&__subtitle 
			width: 202px
			color: $text-color
			+op-reg
			font-size: 14px
			line-height: 18px
			text-transform: uppercase
			margin-bottom: 21px
		&__form-input
			width: 265px
			color: #999999
			+op-light
			font-size: 13px
			padding: 14px 74px 14px 73px
			background-color: #fff
			margin-bottom: 9px
		&__form 
			display: flex
			flex-direction: column
			align-items: center
		&__button 	
			color: #ffffff
			+rb-reg
			font-size: 13px
			font-weight: 500
			padding: 12px 28px 12px 28px
			margin-bottom: 25px
