.new 
	padding-bottom: 33px
	&__title 
		margin-bottom: 24px
	&__block 
		display: flex 
		justify-content: space-between
		flex-wrap: wrap 
	&__label 
		top: 18px
		left: 19px	
	&__card 
		margin-bottom: 20px


.new__slide-wrap
	display: none
.new__slide-mobile
	display: none 

// == медиа == 
@media (max-width: 1200px)
	.card 
		flex-basis: 35% 
	.new
		&__block 
			justify-content: space-around 
		&__card 
			margin-bottom: 15px


@media (max-width: 1024px)
	.card 
		flex-basis: 36% 
	
@media (max-width: 768px) 
	.new 
		padding-top: 36px
		padding-bottom: 32px
		&__block
			display: none
		&__title 
			color: $text-color
			+op-semy
			font-size: 22px
			margin-bottom: 20px 
			&:after 
				content: ''
				margin-top: 14px
		&__slide-mobile
			width: 596px
			display: flex 
			justify-content: center 
			align-items: center 
		&__slide-wrap 
			display: flex 
			justify-content: center 
			width: 100%
			position: relative
		&__slide-arrowL 
			position: absolute
			top: 169px
			left: 0
			display: flex
			justify-content: center 
			align-items: center 
			width: 48px
			height: 48px
			background-color: $main-color
			opacity: 0.6	
			border-radius: 50%
		&__slide-arrowR
			position: absolute
			top: 168px
			left: 548px
			display: flex
			justify-content: center 
			align-items: center 
			width: 48px
			height: 48px
			background-color: $main-color
			opacity: 0.6
			border-radius: 50%	

	.card 
		width: 263px
		margin: 0 17px		

@media (max-width: 575px) 
	.new 
		padding-top: 36px
		padding-bottom: 11px
		&__title 
			color: $text-color
			+op-semy
			font-size: 22px
			margin-bottom: 20px 
			&:after 
				content: ''
				margin-top: 14px
		&__slide-mobile
			width: 263px
			display: flex 
			justify-content: center 
			align-items: center 
		&__slide-wrap 
			display: flex 
			justify-content: center 
			width: 100%
			position: relative
		&__slide-arrowL 
			position: absolute
			top: 169px
			left: -50px
			display: flex
			justify-content: center 
			align-items: center 
			width: 48px
			height: 48px
			background-color: $main-color
			opacity: 0.6	
			border-radius: 50%
		&__slide-arrowR
			position: absolute
			top: 168px
			left: 193px
			display: flex
			justify-content: center 
			align-items: center 
			width: 48px
			height: 48px
			background-color: $main-color
			opacity: 0.6
			border-radius: 50%	

	.card
		&__img 
			margin-bottom: 23px			
		&__article	
			margin-bottom: 19px

@media (max-width: 414px) 
	.new   
		&__slide-arrowL 
			top: 169px
			left: -13px
		&__slide-arrowR
			top: 168px
			left: 230px
		
@media (max-width: 411px)
	.new   
		&__slide-arrowL 
			top: 169px
			left: -14px
		&__slide-arrowR
			top: 169px
			left: 227px


@media (max-width: 375px) 
	.new   
		&__slide-arrowL 
			top: 169px
			left: -31px
		&__slide-arrowR
			top: 168px
			left: 212px

@media (max-width: 360px) 
	.new   
		&__slide-arrowL 
			top: 169px
			left: -37px
		&__slide-arrowR
			top: 168px
			left: 207px			
		
@media (max-width: 320px) 
	.new   
		&__slide-arrowL 
			top: 169px
			left: -50px
		&__slide-arrowR
			top: 168px
			left: 193px
		
