
.select 
	padding-top: 19px
	padding-bottom: 50px
	&__block 
		display: flex 
		justify-content: space-between 
		flex-wrap: wrap 
		margin-bottom: 5px
	&__title 
		text-align: start 
		margin-bottom: 18px
		&:after 
			margin: 0
			margin-top: 17px
	&__wrap
		display: flex 
		justify-content: space-between
		margin-bottom: 9px		
	&__list
		height: 51px
		min-width: 263px
		color: #242021
		+op-light
		border: 1px solid #95dbf1
		background-color: #ffffff
		font-size: 14px
		opacity: 0.7
		padding-left: 21px
		outline: none
		&-item 
			outline: none
			background-color: green 
	&__groop 
		display: inline
		padding: 0
		margin: 0
		text-decoration: none
		&-wrap 
			margin-bottom: 30px
		&-img
			display: inline
			width: 6px
			height: 9px
			color: #898989
			margin: 0 2px
		&-item 
			display: inline
		&-link 
			text-decoration: none
			color: $text-color
			opacity: 0.8
			color: $text-color
			+op-light
			font-size: 13px
	&__paginate 
		text-align: center
		&-groop
			display: flex
			justify-content: center
			list-style: none
			margin: 0
			padding: 0
			text-align: center		
		&-li
			display: inline
			width: 32px
			height: 31px
			display: flex
			justify-content: center
			align-items: center
			border: 1px solid #dedede
			margin-right: 2px
			&:hover
				border: 1px solid $main-color
				.select__paginate-link 
					color: $main-color
		&-link  
			display: inline-block
			text-decoration: none
			color: #dedede
			font-size: 13px
			+rb-light 
		&_more 
			box-shadow: 0 0 0 0 transparent
			border: 0 none
			background: transparent
			margin-left: 0
			margin-right: 0
		&_active 
			border: 1px solid $main-color
			.select__paginate-link 
				color: $main-color

// == стили для выпадающего списка ==
.select
	&__select 
		list-style: none
		margin-bottom: 20px
		li 
			display: flex
			align-items: center
			width: 263px
			height: 51px
			border: 1px solid #95dbf1
			background-color: #ffffff
			position: relative
			transition: all .3s ease
			cursor: pointer
			&:hover 
				background-color: #e0f7fa
				transition: all .3s ease
		li ul 
			position: absolute
			list-style: none
			min-width: 263px
			top: 50px
			cursor: pointer
			display: none
			opacity: 0
			transition: all .3s ease
			z-index: 100
		li:hover > ul
			display: block
			opacity: 1
			background-color: #e0f7fa 
			transition: all .3s ease	
		li ul a 
			text-decoration: none
			display: flex
	&__select-subsize
		padding-left: 20px
		opacity: 0.7
		color: #242021
		+op-light
		font-size: 14px




@media (max-width: 1200px)
	.select
		&__wrap 
			justify-content: space-around 
			flex-wrap: wrap
		&__block 
			justify-content: space-around 
@media (max-width: 1024px)

@media (max-width: 768px) 
	.select
		padding-top: 29px
		&__groop-wrap 
			display: none
		&__title 
			color: $text-color
			+op-semy
			font-size: 20px
			margin-bottom: 16px
		&__select 
			margin-bottom: 15px
		&__select li 
			width: 290px
			height: 46px
		&__block 
			justify-content: space-between
		&__card 
			margin: 0
			margin-bottom: 22px
			flex-basis: 263px
			margin-bottom: 19px
			&:last-child 
				margin-bottom: 26px
		&__wrap 
			justify-content: space-between
			margin-bottom: 13px

@media (max-width: 575px) 

	.select
		padding: 0
		padding-top: 20px
		padding-bottom: 49px
		&__groop
			&-wrap 
				display: none
		&__wrap 
			flex-direction: column 
			align-items: center
		&__title 
			width: 239px
			color: $text-color
			+op-semy
			font-size: 20px
			line-height: 26px	
			margin-bottom: 16px
			&:after 
				margin-top: 13px
		&__select 
			margin-bottom: 5px
			&:last-child
				margin-bottom: 16px 
		&__select li
			width: 290px
			height: 46px
		&__block
			justify-content: center 


	.new__card
		margin-bottom: 22px
		height: 386px
		&:last-child
			margin-bottom: 13px
	.card__cost 
		+rb-bold 

	.thing__select-arrow
		top: 20px